.homePage {
    width: 100%;
    height: 100vh;
    background: white;

    nav {
        .logo {
            width: 88.79px;
            height: 57.15px;
            background-image: url('../images/logo.png');
        }
    }
}