$main: #1C8B6A;
$btn: linear-gradient(180deg, #35A483 0%, #077854 100%);

.homePage {
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;

    .leftDownBg {
        position: absolute;
        background: url("../images/leftDownBg.png");
        width: 243px;
        height: 62px;
        left: 0;
        bottom: 159px;
    }

    .leftDown1 {
        position: absolute;
        background: url("../images/leftDown1.png");
        width: 150px;
        height: 305px;
        left: 0;
        bottom: 0;
    }

    .rightUp {
        position: absolute;
        background: url("../images/rightUp.png");
        width: 122px;
        height: 255px;
        right: 0;
        top: 0;
    }

    .alert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 343px;
        height: 156px;
        background: #F0F0F0;
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.11);
        border-radius: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;

        .text {
            font-size: 18px;
            color: #424242;
            margin-top: 23px;
        }

        button {
            background: $main;
            border-radius: 16px;
            width: 229px;
            height: 56px;
            color: white;
            margin-top: 23px;
            border: none;
        }
    }

    nav {
        width: 100%;
        padding: 28px 200px 0px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;



        .logo {
            width: 88.79px;
            height: 57.15px;
            background-image: url('../images/logo.png');
        }

        button {
            color: $main;
            font-family: 'Noto Sans TC';
            font-weight: 400;
            font-size: 18px;
            background: transparent;
            border: 2px solid $main;
            padding: 8px 30px;
            border-radius: 16px;
        }
    }

    .container {
        // width: calc(100vw - 224px);
        // height: calc(100vh - 136.79px);
        width: 1036px;
        height: 558px;
        background: gray;
        margin: 20px auto 20px auto;
        background: rgba(240, 240, 240, 0.58);
        border-radius: 34px;
        position: relative;

        button {
            width: 225px;
            height: 62px;
            background: $btn;
            font-size: 24px;
            color: #FFFFFF;
            border: none;
            border-radius: 34px 0px;
        }

        .title {
            background: $btn;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 55px;
            margin-left: 44px;
            font-size: 50px;
        }

        .description {
            width: 278px;
            height: 78px;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #424242;
            margin-left: 47px;
            margin-top: 6px;
        }

        .imgContainer {
            width: 670px;
            height: 480px;
            position: absolute;
            bottom: -20px;
            right: 0;
            pointer-events: none;

            div {
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    position: absolute;

                    &.rightDown {
                        bottom: 0;
                        width: 100%;
                    }

                    &.right1 {
                        bottom: 50px;
                        // left: 54px;
                        left: 0.8%;
                        // width: 189px;
                        width: 28.2%;
                    }

                    &.right2 {
                        bottom: 36px;
                        // left: 296px;
                        left: 44.1%;
                        // width: 130px;
                        width: 19.4%;
                    }

                    &.right3 {
                        bottom: 36px;
                        // left: 404px;
                        left: 60.2%;
                        // width: 100px;
                        width: 14.9%;
                    }

                    &.right4 {
                        bottom: 55px;
                        // left: 449px;
                        left: 67%;
                        // width: 142px;
                        width: 21.1%;

                    }

                    &.right5 {
                        bottom: 180px;
                        // left: 480px;
                        left: 71.6%;
                        // width: 145px;
                        width: 21.6%;

                    }
                }
            }


        }

        .fileContainer {
            width: 417px;
            height: 376px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 29.5px;
            background: #FFFFFF;
            border: 2px dashed #B7B7B7;
            border-radius: 26px;
            position: absolute;
            bottom: 151px;
            right: 113px;

            label {
                margin-top: 20px;
                width: 227px;
                height: 60px;
                background: $btn;
                box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.11);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 18px;
            }

            .remind {
                font-size: 16px;
                color: #424242;
                margin-top: 15px;
            }

            .remind2 {
                margin-top: 15px;
                background: $btn;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
}