$main: #1C8B6A;

.homePage {
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;

    .leftDownBg {
        position: absolute;
        background: url("../images/leftDownBg.png");
        width: 243px;
        height: 62px;
        left: 0;
        bottom: 159px;
    }

    .leftDown1 {
        position: absolute;
        background: url("../images/leftDown1.png");
        width: 150px;
        height: 305px;
        left: 0;
        bottom: 0;
    }

    .rightUp {
        position: absolute;
        background: url("../images/rightUp.png");
        width: 122px;
        height: 255px;
        right: 0;
        top: 0;
    }

    nav {
        width: 100%;
        padding: 28px 200px 0px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;



        .logo {
            width: 88.79px;
            height: 57.15px;
            background-image: url('../images/logo.png');
        }

        button {
            color: $main;
            font-family: 'Noto Sans TC';
            font-weight: 400;
            font-size: 18px;
            background: transparent;
            border: 2px solid $main;
            padding: 8px 30px;
            border-radius: 16px;
        }
    }

    .container {
        width: calc(100vw - 224px);
        height: calc(100vh - 116.79px);
        background: gray;
        margin: 20px auto 20px auto;
        background: rgba(240, 240, 240, 0.58);
        border-radius: 34px;
        position: relative;

        .imgContainer {
            width: 670px;
            height: 480px;
            position: absolute;
            bottom: 0;
            right: 0;

            div {
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    position: absolute;

                    &.rightDown {
                        bottom: 0;
                        width: 100%;
                    }

                    &.right1 {
                        bottom: 50px;
                        // left: 54px;
                        left: 0.8%;
                        // width: 189px;
                        width: 28.2%;
                    }

                    &.right2 {
                        bottom: 36px;
                        // left: 296px;
                        left: 44.1%;
                        // width: 130px;
                        width: 19.4%;
                    }

                    &.right3 {
                        bottom: 36px;
                        // left: 404px;
                        left: 60.2%;
                        // width: 100px;
                        width: 14.9%;
                    }

                    &.right4 {
                        bottom: 55px;
                        // left: 449px;
                        left: 67%;
                        // width: 142px;
                        width: 21.1%;

                    }

                    &.right5 {
                        bottom: 180px;
                        // left: 480px;
                        left: 71.6%;
                        // width: 145px;
                        width: 21.6%;

                    }
                }
            }


        }

    }
}